body{
    margin: 0;
    background: transparent;
    pointer-events: none;
}

.sidebar{
    width: 50px;
    height: 100vh;
    background-color: #1f1f1f;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    pointer-events: auto;
}

.side-icon{
    width: 100%;
    height: auto;
}

button{
    background: none;
    border: none;
    color: white;
    margin-top: 5vh;
}